{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block pagetitle %}
Home
{% endblock %}

{% block main %}
    <div class="box">
        <p class="formtitle">Home</p>
    </div>
    {% if session: %}
    <div class="box">
        <p class="home_title">Posts from friends</p>
    </div>
    {% endif %}
    <div class="box">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">Preview</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
            {% for row in posts: %}
            <tr class="postrow">
                <th scope="row"><form action="/review" method="post"><button class="btn btn-secondary" type="submit" name="id" value="{{ row['post_id'] }}">{{ row["title"] }}</button></form></th>
                <th><form action="/usrprofile" method="post"><button type="submit" name="id" value="{{ row['id'] }}" class="proflink">{{ row["username"] }}</button></form></th>
                <th>{{ row["time"][0] }}</th>
                <th>{{ row["body"][:30] }}...</th>
                <th>{{ row["category"] }}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}