{% extends "layout.html" %}

{% block title %}
    Read
{% endblock %}

{% block pagetitle %}
Read
{% endblock %}

{% block main %}
    <div class="box">
        <p class="formtitle">Read</p>
        <form action="/read" method="post">
            <input type="text" id="sbar" class="form-control" name="search" placeholder="Search" aria-label="search">
            <button id="sbtn" class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </form>
    </div>
    <div class="box">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">Preview</th>
                </tr>
            </thead>
            <tbody>
            {% for row in posts: %}
            <tr class="postrow">
                <th scope="row"><form action="/review" method="post"><button class="btn btn-secondary" type="submit" name="id" value="{{ row['post_id'] }}">{{ row["title"] }}</button></form></th>
                <th>{{ row["username"] }}</th>
                <th>{{ row["time"][0] }}</th>
                <th>{{ row["body"][:20] }}...</th>
            </tr>
            
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}