{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="box">
        <div class="registration_fields">
            <form action="/register" method="post">
                <p><input autocomplete="off" class="tbox" type="text" name="username" placeholder="username"></p>
                <p><input autocomplete="off" class="tbox" type="text" name="password" placeholder="password"></p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}