{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block pagetitle %}
Register
{% endblock %}

{% block main %}
    <div class="box">
        <div class="formtitle">
            Register
        </div>
        <form action="/register" method="post">
                <div class="input-group mb-3">
                    <input autocomplete="off" type="text" class="form-control" name="username" placeholder="username" aria-label="username">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="password" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Register</button>
                </div>
        </form>
    </div>
{% endblock %}