{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block pagetitle %}
Settings
{% endblock %}

{% block main %}
    <div class="box">
        <div class="formtitle">
            Settings
        </div>
        <form action="/changeusername" method="post">
                <p class="setting_label">Change username</p>
                <div class="input-group mb-3">
                    <input autocomplete="off" type="text" class="form-control" name="username" placeholder="new username" aria-label="username">
                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
        </form>
        <form action="/changepassword" method="post">
            <p class="setting_label">Change password</p>
            <div class="input-group mb-3">
                <input type="password" class="form-control" name="password" placeholder="new password" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
        </form>
        <br>
        <form action="/deleteaccount" method="post">
            <p class="setting_label">Delete Account</p>
            <input type="password" class="form-control" name="confirm" placeholder="current password" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-danger" type="submit" id="delete_button">Delete</button>
        </form>
    </div>
{% endblock %}