{% extends "layout.html" %}

{% block title %}
    Write
{% endblock %}

{% block pagetitle %}
Write New Post
{% endblock %}

{% block main %}
    <div class="box">
        <div class="fields">
            <p class="formtitle">
                New Post
            </p>
            <form action="/write" method="post">
                <p>
                    <div class="write_titlecontainer">
                        <label class="plaintext">Title:</label>
                        <input name="title" placeholder="Your title" type="text" autocomplete="off" class="post_title">
                        <input autocomplete="off" class="addcat" placeholder="New category" name="addcat" type="text"></input>
                        <select class="category_selector" name="category">
                            <option selected disabled>
                                Category
                            </option>
                            {% for option in categories %}
                            <option>{{ option["category"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </p>
                <p class="post_body_wrapper">
                    <label class="plaintext">Post:</label>
                    <textarea name="body" class="post_body"></textarea>
                </p>
                <p>
                    <button type="submit" class="bt btn-dark" id="post_button">Post</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}